<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="layout/default :: common_header(~{:://title//text()}, ~{::link}, ~{})">

    <link th:href="@{/css/signin.css}" rel="stylesheet"/>

    <title>REGISTRAR</title>
</head>

<body th:replace="layout/default :: common_body">
<div th:fragment="page_content">
    <div class="alert alert-success fade in margin-bottom-40 margin-top-20">
        <h4>Cadastro realizada com sucesso!</h4>
        Você foi cadastrado com sucesso e já pode logar no sistema.
        Acesse <a th:href="@{/login}">Login</a>
    </div>
</div>
<th:block th:fragment="page_script">
</th:block>
</div>
</body>
</html>