<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="layout/default :: common_header(~{:://title//text()}, ~{::link}, ~{})">

    <link th:href="@{/css/signin.css}" rel="stylesheet"/>

    <title>REGISTRAR</title>
</head>

<body th:replace="layout/default :: common_body">
<div th:fragment="page_content">
    <form id="for-registrar" class="form-signin" method="POST" th:fragment="form" th:action="@{/registrar}"
          th:object="${usuario}">
        <h2 class="form-signin-heading">Cadastrar-se no sistema</h2>

        <p>
            Já tem uma conta? Clique em
            <a class="color-green" th:href="@{/login}">Login</a> para entrar no sistema.
        </p>

        <label for="email" class="sr-only">Endereço de e-mail</label>
        <input type="email" id="email" name="email" th:field="*{email}" class="form-control"
               placeholder="Endereço de e-mail" required autofocus minlength="8" maxlength="180"/>

        <label for="nome" class="sr-only">Nome</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" class="form-control" placeholder="Nome" required
               maxlength="32"/>

        <label for="telefone" class="sr-only">Telefone</label>
        <input type="tel" id="telefone" name="telefone" th:field="*{{telefone}}" class="form-control"
               placeholder="Telefone" required maxlength="15"/>

        <label for="senha" class="sr-only">Senha</label>
        <input type="password" id="senha" name="senha" th:field="*{senha}" class="form-control" placeholder="Senha"
               required minlength="4" maxlength="64"/>

        <label for="confirmarSenha" class="sr-only">Confirmar Senha</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" th:field="*{confirmarSenha}"
               class="form-control" placeholder="Confirmar Senha" required minlength="4" maxlength="64"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    </form>
</div>

<th:block th:fragment="page_script">
    <script th:src="@{/js/page/usuario/registrar.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () {
            Registrar.init();
        });
        //]]>
    </script>
</th:block>
</div>
</body>
</html>