<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="layout/base :: common_header(~{:://title//text()}, ~{}, ~{})">
    <title>USUÁRIO</title>
</head>

<body th:replace="layout/base :: common_body">
<div th:fragment="page_content">
    <div class="jumbotron">
        <h1>Cadastro de Promocões</h1>
    </div>

    <form id="form-promocao" th:action="@{/promocao/cadastrar}" th:object="${promocao}" th:fragment="form"
          th:method="${promocao.id eq null} ? POST : PUT">
        <input type="hidden" th:field="*{id}" id="id"/>

        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Campos Inválidos</strong>
            <br/>
            <ul>
                <li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="row">
            <section class="col-sm-8">
                <label for="nome" class="sr-only">Nome</label>
                <input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome"
                       required maxlength="55"/>
            </section>

            <section class="col-sm-4">
                <label for="desconto" class="sr-only">Desconto</label>
                <input type="text" id="desconto" th:field="*{{desconto}}" class="form-control decimal"
                       placeholder="Desconto" required maxlength="100000"/>
            </section>
        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Tipo de Desconto</legend>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary"
                       th:classappend="*{tipoDesconto eq null or tipoDesconto.name() eq 'PERCENTUAL'} ? 'active'">
                    <input type="radio" id="tipoDesconto-P" name="tipo-desconto" autocomplete="off" th:text="Percentual"
                           data-name="PERCENTUAL"
                           th:checked="*{tipoDesconto eq null or tipoDesconto.name() eq 'PERCENTUAL'}"/>
                </label>

                <label class="btn btn-primary" th:classappend="*{tipoDesconto ne null and tipoDesconto.name() eq 'QUANTIDADE'} ? 'active'">
                    <input type="radio" id="tipoDesconto-Q" name="tipo-desconto" autocomplete="off" th:text="Quantidade"
                           data-name="QUANTIDADE"
                           th:checked="*{tipoDesconto ne null and tipoDesconto.name() eq 'QUANTIDADE'}"/>
                </label>
            </div>
        </fieldset>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Ingredientes</legend>

            <div id="panel-ingrediente" class="row">
                <section class="col-sm-12">
                    <label for="select-ingrediente" class="sr-only">Ingrediente</label>
                    <div class="input-group">
                        <select id="select-ingrediente" class="form-control custom-select">
                            <option value="0">Selecione...</option>
                        </select>

                        <div class="input-group-btn">
                            <button id="add-ingrediente" type="button" class="form-control-btn btn btn-success"
                                    disabled="disabled">
                                Inserir
                            </button>
                        </div>
                    </div>
                </section>
            </div>

            <table id="ingredientes" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ingrediente</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="*{#lists.isEmpty(ingredientes)}" class="empty-table">
                    <td colspan="3">Nenhum Ingrediente Cadastrado</td>
                </tr>

                <tr th:if="*{not #lists.isEmpty(ingredientes)}" th:each="item, stat: *{ingredientes}">
                    <td>
                        <span th:remove="tag" th:text="${item.ingrediente.id}"></span>
                        <input type="hidden" class="id" th:field="*{ingredientes[__${stat.index}__].ingrediente.id}"/>
                    </td>

                    <td>
                        <span th:remove="tag" th:text="${item.ingrediente.nome}"></span>
                        <input type="hidden" class="nome" th:field="*{ingredientes[__${stat.index}__].ingrediente.nome}"/>
                    </td>

                    <td>
                        <input type="text" class="quantidade" th:field="*{ingredientes[__${stat.index}__].quantidade}"/>
                    </td>

                    <td>
                        <button type="button" class="btn btn-space btn-danger btn-xs delete"><span>Excluir</span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <div class="text-right">
            <button id="save" class="btn btn-success" type="submit">Salvar</button>
            <button id="cancel" class="btn btn-danger" type="button" data-toggle="modal"
                    data-target="#confirm-cancel">Cancelar
            </button>
            <div id="canvasloader-container" class="wrapper">
            </div>
        </div>
    </form>

    <div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Importante, Cancelar Alterações</h4>
                </div>
                <div class="modal-body">
                    <p>Deseja sair dessa página?</p>

                    <p>As alterações digitadas serão perdidas!</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="btn-confirm" type="button" class="btn btn-success confirm">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:fragment="page_script">
    <script th:src="@{/js/page/cadastro/promocao/formulario.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () {
            Promocao.init();
        });
        //]]>
    </script>
</th:block>
</div>
</body>
</html>