<?xml version = "1.0" encoding = "UTF-8" ?>
<div style="padding: 30px">
    <h1>Contato de: ${TITLE}</h1>

    <p>Responsável pelos contatos do X-Lanches</p>

    <p>Nome: ${NAME}</p>

    <p>e-mail: <a target="_blank" href="mailto:${EMAIL}">${EMAIL}</a></p>

    <p>Mensagem: </p>

    <p>${MESSAGE}</p>

    <hr/>

    <p>
        Este e-mail foi gerado pela pagina principal do <a href="http://xlanches.com.br">X-Lanches</a>. Não responda
        diretamente.
        <br/>
        Você recebeu este e-mail porque está cadastrado no site <a href="http://xlanches.com.br">http://xlanches.com.br</a>.
        <br/>
        Caso não tenha conhecimento destas informações, favor ignorar o e-mail e solicitar a remoção do envio para
        <a href="mailto:admin@xlanches.com.br">admin@xlanches.com.br</a>.
        <br/>
        <a href="http://xlanches.com.br"><img src="../../../resources/img/logo.png"/></a>
    </p>
</div>