<?xml version = "1.0" encoding = "UTF-8" ?>
<div style="padding: 30px">
    <h1>Pedido Para Alterar Senha</h1>

    <p>Sr(a). ${TO}</p>

    <p>Você solicitou uma alteração de senha, siga as instruções desse e-mail para trocar sua senha.</p>

    <p>Caso você não tenha feito essa solicitação, favor ignorar este e-mail.</p>

    <p>Uma nova senha foi gerada: ${SENHA}. Acesse o sistema com essa senha e troque sua senha.</p>

    <p>Por segurança essa senha tera uma validade de 48 horas.</p>

    <hr/>

    <p>
        Este e-mail foi gerado pelo sistema do <a href="http://xlanches.com.br">X-Lanches</a>. Não responda
        diretamente.
        <br/>
        Você recebeu este e-mail porque está cadastrado no site <a href="http://xlanches.com.br">http://xlanches.com.br</a>.
        <br/>
        Caso não tenha conhecimento destas informações, favor ignorar o e-mail e solicitar a remoção do envio para
        <a href="mailto:contato@xlanches.com.br">contato@xlanches.com.br</a>.
        <br/>
        <a href="http://xlanches.com.br"><img src="../../../resources/img/logo.png"/></a>
    </p>
</div>