<?xml version = "1.0" encoding = "UTF-8" ?>
<div style="padding: 30px">
    <h1>Bem Vindo ao X-Lanches</h1>

    <p>Sr(a). ${TO}</p>

    <p>Seu cadastro no X-Lanches foi realizado com sucesso!</p>

    <p>Obrigado por fazer parte de nossa equipe.</p>

    <hr/>

    <p>
        Este e-mail foi gerado pelo sistema do <a href="http://xlanches.com.br">X-Lanches</a>. Não responda
        diretamente.
        <br/>
        Você recebeu este e-mail porque está cadastrado no site <a href="http://xlanches.com.br">http://xlanches.com.br</a>.
        <br/>
        Caso não tenha conhecimento destas informações, favor ignorar o e-mail e solicitar a remoção do envio para
        <a href="mailto:contato@xlanches.com.br">contato@xlanches.com.br</a>.
        <br/>
        <a href="http://xlanches.com.br"><img src="../../../resources/img/logo.png"/></a>
    </p>
</div>