<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="pt-br">
<head th:fragment="common_header(title, links, scripts)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="X-Lanches"/>
    <meta name="author" content="Filipe Bojikian Rissi"/>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>

    <!-- Authentication -->
    <meta name="csrf" th:content="${_csrf.token}"/>

    <!-- ContextPath -->
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/offcanvas.css}" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/ie8-responsive-file-warning.js}"></script>
    <![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>

    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>

    <title th:text="'X-Lanches - ' + ${title}">X-Lanches</title>
</head>

<body th:fragment="common_body">
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">X-Lanches</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Sobre nós</a></li>
                <li><a href="#contact">Entre em contato</a></li>
                <li><a th:href="@{/logout}">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div th:replace="::page_content"></div>
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/ingrediente}" class="list-group-item"
                   th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath() + '/ingrediente')} ? 'active'">Ingredientes</a>
                <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/promocao}" class="list-group-item"
                   th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath() + '/promocao')} ? 'active'">Promoções</a>
                <a sec:authorize="hasAnyRole('ADMIN')" href="#" class="list-group-item"
                   th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath() + '/cardapio')} ? 'active'">Cardápio</a>
                <a href="#" class="list-group-item"
                   th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath() + '/pedido')} ? 'active'">Pedidos</a>
                <a href="#" class="list-group-item"
                   th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath() + '/endereco')} ? 'active'">Endereços</a>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2017 X-Lanches LDTA</p>
    </footer>
</div>

<!-- JQuery JavaScript
    ================================================== -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery.validate.additional-methods.min.js}"></script>
<script th:src="@{/js/jquery.validate-messages.js}"></script>
<script th:src="@{/js/jquery.maskedinput.min.js}"></script>
<script th:src="@{/js/jquery.alphanumeric.js}"></script>
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/jquery.maskMoney.min.js}"></script>

<!-- Bootstrap core JavaScript
    ================================================== -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/offcanvas.js}"></script>
<script th:src="@{/js/ajax.js}"></script>
<script th:src="@{/js/canvasloader-min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function () {
        App.init();
    });
    //]]>
</script>

<th:block th:replace="::page_script"/>
</body>
</html>