<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">

<head th:replace="layout/erro :: common_header(~{:://title//text()}, ~{}, ~{})">
    <title>500</title>
</head>

<body th:replace="layout/erro :: common_body">
<div th:fragment="page_content">
    <h1 class="error-v1-title" th:text="${errorCode}">code</h1>
    <h2>Desculpe pelo inconveniente!</h2>
    <p th:text="${errorMessage}">Exception</p>
</div>

<th:block th:fragment="page_script"></th:block>
</div>
</body>
</html>