<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="layout/base :: common_header(~{:://title//text()}, ~{}, ~{})">
    <title>USUÁRIO</title>
</head>

<body th:replace="layout/base :: common_body">
<div th:fragment="page_content">
    <div class="jumbotron">
        <h1>Cadastro de Pedidos</h1>
    </div>

    <form id="form-pedido" th:action="@{/pedido/cadastrar}" th:object="${pedido}" th:fragment="form"
          th:method="${pedido.id eq null} ? POST : PUT">
        <input type="hidden" th:field="*{id}" id="id" name="id"/>

        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Campos Inválidos</strong>
            <br/>
            <ul>
                <li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="row">
            <section class="col-sm-8">
                <label for="nome" class="sr-only">Nome</label>
                <input type="text" id="nome" name="nome" th:field="*{nome}" class="form-control" placeholder="Nome"
                       required maxlength="55"/>
            </section>

            <section class="col-sm-4">
                <label for="valor" class="sr-only">Valor</label>
                <input type="text" id="valor" name="valor" th:field="*{{valor}}" class="form-control decimal"
                       placeholder="Valor" required maxlength="100000"/>
            </section>
        </div>

        <label for="observacao" class="sr-only">Observação</label>
        <input type="text" id="observacao" name="observacao" th:field="*{observacao}" class="form-control"
               placeholder="Observação" maxlength="180"/>

        <div class="text-right">
            <button id="save" class="btn btn-success" type="submit">Salvar</button>
            <button id="cancel" class="btn btn-danger" type="button" data-toggle="modal"
                    data-target="#confirm-cancel">Cancelar
            </button>
            <div id="canvasloader-container" class="wrapper">
            </div>
        </div>
    </form>

    <div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Importante, Cancelar Alterações</h4>
                </div>
                <div class="modal-body">
                    <p>Deseja sair dessa página?</p>

                    <p>As alterações digitadas serão perdidas!</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="btn-confirm" type="button" class="btn btn-success confirm">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:fragment="page_script">
    <script th:src="@{/js/page/cadastro/pedido/formulario.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () {
            Pedido.init();
        });
        //]]>
    </script>
</th:block>
</div>
</body>
</html>