<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head th:replace="layout/default :: common_header(~{:://title//text()}, ~{::link}, ~{})">

    <link th:href="@{/css/signin.css}" rel="stylesheet"/>

    <title>LOGAR</title>
</head>

<body th:replace="layout/default :: common_body">
<div th:fragment="page_content">
    <form id="login-form" class="form-signin" method="POST" th:fragment="form" th:action="@{/login}">
        <h2 class="form-signin-heading">É preciso autenticar-se</h2>
        <p>
            Não tem a conta? Clique em
            <a class="color-green" th:href="@{/registrar}">Criar Conta</a> para registrar-se.
        </p>

        <label for="username" class="sr-only">Endereço de e-mail</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Endereço de e-mail" required
               autofocus minlength="8" maxlength="180"/>

        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required
               minlength="4" maxlength="64"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        <div th:if="${#httpServletRequest.getParameter('falha') ne null}"
             class="alert alert-danger fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Falha ao logar!</strong>
            <br/>
            Verifique se o usuário e senha estão corretos.
        </div>

        <div th:if="${#httpServletRequest.getParameter('logout') ne null}"
             class="alert alert-info fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Deslogado do Sistema!</strong>
            <br/>
            Você foi deslogado do sistema com sucesso.
        </div>
    </form>
</div>

<th:block th:fragment="page_script">
    <script th:src="@{/js/page/security/login.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function () {
            Login.init();
        });
        //]]>
    </script>
</th:block>
</div>
</body>
</html>